nav>ul{
    display: flex;
    list-style-type: none;gap: 50px;
    justify-content: center;

}

a{
    text-decoration: none;
    color: black;
}

nav li:hover{
    background-color: lightgray;
    height: 10px;
    width: 40px;
    border-radius: 5px;
    padding: 10px;
}

.dropdown li{
    list-style-type: none;
}

/* Nested menu style */
nav li .dropdown{
    display: none;
    position: absolute;
}

nav li:hover .dropdown{
    display: block;
}




